h4{
    text-align: center;
}
span{
    text-decoration: underline wavy 2px;
    color: red;
}

div#outer{
    width: 500px;
    height: 500px;
    background-color: red;
}

div#inner{
    width: 450px;
    height: 450px;
    background-image: url('https://media1.tenor.com/m/UswjTIzpZMYAAAAd/kevin-hart.gif');
    background-size: contain;

}

h1{
    border: 2px solid;
    width: 40%;
    text-align: center;
}

p{
    font-family: Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;

}